﻿@model ResturantRanking.Web.ViewModels.ResturantViewModel
<div class="panel-body">
    <div class="media">
        <a class="pull-left" href="#">
            @if (!string.IsNullOrEmpty(@Model.Image))
            {
                <img class="media-object" src="../../images/@Model.Image" alt=""/>
            }
            else
            {
                <img class="media-object" src="../../images/No-Image.png" alt=""/>
            }
        </a>
        <div class="media-body">
            <h3 class="media-heading">
                @Model.ResturantName
            </h3>
            <p>Average Price : $@Model.AveragePrice</p>
            <p>Number of Orders : @Model.OrdersDetails.Count</p>
            <p>Star Rating : @Model.StarRating</p>
            <p>This Resturant is approximately @Model.distance.ToString("#.##")km away from you </p>
            <p>Calculated Ranking Score : @Model.Ranking.ToString("#.##")</p>
            
        </div>
    </div>
</div>
