﻿@model IEnumerable<ResturantRanking.Web.ViewModels.ResturantViewModel>
@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.Label(item.ResturantName)
                </div>
                @Html.Partial("Resturant", item)
            </div>
        }
    </div>
</div>