﻿@model IEnumerable<ResturantRanking.Web.ViewModels.SuburbViewModel>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @*@Html.DisplayFor(modelItem => item.Name)*@
                @Html.ActionLink("View all " + item.SuburbName, "Index", new { postcode = item.PostCode }, new { @class = "pull-right" })
                @using (Html.BeginForm("Filter", "Home", new { suburb = item.SuburbName }, FormMethod.Post, new { @class = "navbar-form" }))
                {
                    @Html.TextBox("resturantName", null, new { @class = "form-control", placeholder = "Search in " + item.SuburbName })
                }


            </div>
            @foreach (var resturant in item.Resturants)
            {
                @Html.Partial("Resturant", resturant)
            }
            <div class="panel-body">
                @using (Html.BeginForm("Create", "Home", FormMethod.Post,
                    new { enctype = "multipart/form-data", @class = "form-inline" }))
                {
                    @Html.Hidden("resturantSuburb", item.SuburbID)
                    <div class="form-group col-md-3">
                        <label class="sr-only" for="file">File</label>
                        <input type="file" class="form-control" name="file" placeholder="Select picture..">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="sr-only" for="ResturantName">Title</label>
                        <input type="text" class="form-control" name="ResturantName" placeholder="Resturant Name">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="sr-only" for="AveragePrice">Price</label>
                        <input type="number" class="form-control" name="AveragePrice" placeholder="Average Price">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="sr-only" for="StarRating">Price</label>
                        <input type="number" max="5" min="1" class="form-control" name="StarRating" placeholder="Star Rating">
                    </div>                    
                    <div class="form-group col-md-3">
                        <button type="submit" class="btn btn-primary">Add to @item.SuburbName</button>
                    </div>
                }
            </div>
        </div>
    }
</div>
